<div class="main">
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="icon"></div>
      <div class="title main un-capitalize">Wake-on-LAN</div>
      <div class="title sub un-capitalize">Client for remotely waking up computers and other devices.</div>
    </div>
  </div>
</div>
<div class="palm-group">
  <div class="palm-group-title">
    Targets
  </div>
  <div class="palm-list">
    <div id="targetList" x-mojo-element="List"></div>
  </div>
</div>
<div class="palm-info-text">
  Tap on an item above to send the Wake-on-LAN magic packet.
</div>
