<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left un-capitalize">About Wake-on-LAN</div>
	</div>
</div>
<br />
<div class="palm-body-text">
	This application sends the Wake-on-LAN (WoL) magic packet to the specified MAC address for remotely
	waking it up. The network card in your computer or device must
	support the WoL functionality. For more information about WoL please see the
	<a href="http://en.wikipedia.org/wiki/Wake-on-LAN">wikipedia page for it</a>
	or <a href="http://lifehacker.com/348197/access-your-computer-anytime-and-save-energy-with-wake+on+lan">this lifehacker article</a>.
</div>
<div class="palm-body-text">
	<div class="aboutLabel">Author</div>
	<div class="aboutValue">Farhan Ahmad</div>

	<div class="aboutLabel">Website</div>
	<div class="aboutValue"><a href="http://www.thebitguru.com">www.thebitguru.com</a></div>

	<div class="aboutLabel">UI Version</div>
	<div class="aboutValue" id="appVersion">&nbsp;</div>

	<div class="aboutLabel">Service Version</div>
	<div class="aboutValue" id="serviceVersion">&nbsp;</div>
</div>

<div class="palm-body-title">
	Contributors
</div>
<div class="palm-body-text">
	<a href="mailto:lespedeza@yahoo.com">James Knowles &lt;lespedeza@yahoo.com&gt;</a>
	- User interface changes for waking up a system from an external network.
</div>

<div class="palm-body-title">
	Feedback
</div>
<div class="palm-body-text">
	Please visit <a href="http://www.thebitguru.com/projects/wol">thebitguru.com/projects/wol</a>
	for feedback.
</div>
