<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left un-capitalize">About Wake-on-LAN</div>
	</div>
</div>
<br />
<div class="palm-body-text">
	This application sends the Wake-on-LAN (WoL) magic packet to the specified MAC address for remotely
	waking it up. The network card in your computer or device must
	support the WoL functionality. For more information about WoL please see the
	<a href="http://en.wikipedia.org/wiki/Wake-on-LAN">wikipedia page for it</a>.
</div>
<div class="palm-body-text">
	<div class="aboutLabel">Author</div>
	<div class="aboutValue">Farhan Ahmad</div>

	<div class="aboutLabel">Website</div>
	<div class="aboutValue"><a href="http://www.thebitguru.com">www.thebitguru.com</a></div>

	<div class="aboutLabel">UI Version</div>
	<div class="aboutValue" id="appVersion">&nbsp;</div>

	<div class="aboutLabel">Service Version</div>
	<div class="aboutValue" id="serviceVersion">&nbsp;</div>
</div>
